@keyframes bg {
  0%{
    background: hsl(0, 65%, 85%);
  }

  25%{
    background: hsl(90, 65%, 85%);
  }

  50%{
    background: hsl(180, 65%, 85%);
  }

  75%{
    background: hsl(270, 65%, 85%);
  }

  100%{
    background: hsl(360, 65%, 85%);
  }
}

ul{
  list-style: none;
  padding : 0;
  margin: 0;
}

li{
  padding : 2px 0 2px 10px;
  color: #FFF;
}

body{
  color: #444;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.logincontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  animation: bg 10s linear infinite;
}

#connect{
  padding : 50px 25px;
  background: rgba(255,255,255,.6);
  box-shadow: 2px 2px 5px rgba(0,0,0, .25);
  width : 350px;
  text-align: center;
}

#connect .input-block-level{
  border : 0;
  border-bottom: 1px solid #777;
  text-align: center;
  padding : 4px;
  margin : 5px 0;
  background: transparent
}

#connect .input-block-level:focus{
  padding-bottom: 3px;
  border-bottom: 2px solid #444;
}

label.checkbox{
  font-size: 11px;
  display: flex;
  align-items: center;
}

.checkboxes{
  margin: 25px;
  padding: 10px 0;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-connect{
  border: 0;
  padding : 5px 10px;
  background: #DDD;
  border-radius: 0;
  cursor: pointer;
  transition: 1s;
}

.btn-connect:hover{
  background: #FFF;
  box-shadow: 1px 1px 5px rgba(0,0,0, .2)
}

#center{
  height: 100vh;
  width: 100vw;
  display: flex;
}

#bufferlist{
  height: 100vh;
  width : 300px;
  background-color: #383838;
}

#bufferlist a{
  color: #AAA;
}

#emojiul li{
  padding : 1px 2px;
  cursor: pointer;
  transition: .25s;
  font-size: 1.1vw;
}

#emojiul li:hover{
  transform: scale(1.5);
}

#emounfold{
  font-size: 18px;
  background-color: #555;
  color: #DDD;
  padding: 1px;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  transform: translate(5px, 26px);
  font-weight: bold;
  transition: .3s
}

#emounfold:hover{
  background : transparent;
  color: #555;
}

#maininput{
  padding-left : 30px;
}
