@keyframes bg {
  0%{
    background: hsl(0, 65%, 85%);
  }

  25%{
    background: hsl(90, 65%, 85%);
  }

  50%{
    background: hsl(180, 65%, 85%);
  }

  75%{
    background: hsl(270, 65%, 85%);
  }

  100%{
    background: hsl(360, 65%, 85%);
  }
}

body{
  color: #444;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.logincontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  animation: bg 10s linear infinite;
}

#connect{
  padding : 50px 25px;
  background: rgba(255,255,255,.6);
  box-shadow: 2px 2px 5px rgba(0,0,0, .25);
  width : 350px;
  text-align: center;
}

#connect .input-block-level{
  border : 0;
  border-bottom: 1px solid #777;
  text-align: center;
  padding : 4px;
  margin : 5px 0;
  background: transparent
}

#connect .input-block-level:focus{
  padding-bottom: 3px;
  border-bottom: 2px solid #444;
}

label.checkbox{
  font-size: 11px;
  display: flex;
  align-items: center;
}

.checkboxes{
  margin: 25px;
  padding: 10px 0;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-connect{
  border: 0;
  padding : 5px 10px;
  background: #DDD;
  border-radius: 0;
  cursor: pointer;
  transition: 1s;
}

.btn-connect:hover{
  background: #FFF;
  box-shadow: 1px 1px 5px rgba(0,0,0, .2)
}

/* #mainview{
  height: 100vh;
  width: 100vw;
  display: flex;
} */

#bufferlist{
  height: 100vh;
  width : 300px;
  background-color: #383838;
}
